section.cate {
  padding: 0 .1rem;
  section.img {
    padding: .08rem 0;
    header {
      color: rgba(16, 16, 16, 1);
      font-size: .14rem;
      text-align: left;
      font-family: PingFangSC-regular, sans-serif;
      display: table;
      margin-bottom: .07rem;
      img {
        display: table-cell;
        vertical-align: middle;
        width: .22rem;
        height: .22rem;
        border-radius: 50%;
        margin-right: .05rem;
      }
      span {
        display: table-cell;
        vertical-align: middle;
        padding-left: .07rem;
      }

      }
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      width: 100%;
      >p{
        font-size: .12rem;
        background: #ffffff;
        width: 24%;
        text-align: center;
        margin-top: .01rem;
        margin-left: .01rem;
        height: .3rem;
        line-height: .3rem;
      }
    }
  }

}
