section.address {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    margin-top: .1rem;
    width: 30%;
    text-align: center;
    background: #ffffff;
    height: .4rem;
    line-height: .4rem
  }
}
