<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>优惠商家</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app" v-clock @touchmove="loadingMore()" @wheel="loadingMore()">
    <div class="pay_top">
        <p class="iconfont icon-fanhui comeback" @click="back"></p>
        <p>优惠商家</p>
    </div>

    <div class="business_list" v-for="item in shopList" :key="item.store_id" @click="goTo('./detail.html',item.store_id,longitude_latitude,1)">
        <img :src="`${baseImgUrl}${item.store_images}`" alt="">
        <div>
            <div class="bus_top">
                <p>{{item.shop_name}}</p>
                <p class="colorWrap">{{item.address}}</p>
            </div>
            <div class="bus_down">
                <p class="colorRed">{{item.discount}}折</p>
                <p>已售{{item.sold_num}}</p>
                <p style="color: #7e7e7e;">{{item.distance}}km</p>
            </div>
        </div>
    </div>
    <div style="width: 100%;text-align: center">
        <span v-if="allLoaded" @click="loadingMore()">上拉加载更多</span>
        <span v-else>没有更多了</span>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<!-- 引入组件库 -->
<script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-rc.4/polyfill.js"></script>
<script src="./js/vconsole.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/fly.js"></script>
<script src="js/jq.js"></script>
<script src="js/business/business-compile.js"></script>
</html>
