<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>详情</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/l_common.css">
</head>
<body>
<div id="app" v-clock>
    <section class="detail_head">
        <p class="iconfont icon-fanhui back cursor_pointer" @click="back()"></p>
        <img v-if="detail.store_images" :src="`http://192.168.1.21/${detail.store_images}`" alt="">
    </section>

    <section class="address">
        <header>
            {{detail.shop_name}}
        </header>
        <footer>
            <i class="iconfont icon-dingwei"></i>
            <div class="position_detail" @click="toMap()">
                <p>
                    {{detail.address}}
                </p>
                <p class="distance dollar">
                    距离您{{detail.distance}}千米
                </p>
            </div>
            <a :href="`tel:${detail.phone}`">
                <img src="iconfont/phone.svg" alt="">
            </a>
        </footer>
    </section>

    <section class="booking">
        <header>
            预订
            <span style="margin-right: .1rem">
               <!--<i class="el-icon-circle-check">支持</i>-->
               <i class="el-icon-circle-check" style="color: green;"> </i> {{detail.sold_num}}人订过
            </span>
        </header>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="i in detail.week">
                    {{i.slice(-3)}}
                    <p>{{i.slice(0,-3)}}</p>
                </div>
            </div>
        </div>
        <footer class="species">
            <span v-for="(v,i) in timeSel" @click="filterTime(v,i)" :class="{'active':i === selected}">
               {{v === ''? '不限时' : v}}
            </span>
        </footer>
    </section>

    <section class="booking_money">
        <ul>
            <li v-for="(v,i) in detail.shop_goods" :key="v.id" @click="showDetail(i)">
                <img  style="height: .4rem" :src="`http://192.168.1.21/${v.meal_images}`" alt="">
                <div>
                    [{{v.rule === ''? '不限时' : v.rule}}]  {{v.meal_name}}
                    <span>￥{{v.amount_money}}</span>
                </div>
                <!--<a @click="alert = true">-->
                <a :href="`./room_booking.html`">
                    预订
                </a>

                <el-collapse-transition>
                    <section v-show="show3 === i">
                        <p v-html="v.details"></p>
                    </section>
                </el-collapse-transition>
            </li>
            <li style="text-align: center">
                <!--更多 <i class="el-icon-arrow-down"></i>-->
            </li>
        </ul>
    </section>

    <section class="bus_information">
        <header>
            商户信息
            <!--<i class="el-icon-arrow-right"></i>-->
        </header>
        <footer v-html="detail.content">
            <!--营业时间：<span>周一至周日 11:30-02:00</span>-->
            <!--<p>-->
               <!--<span>-->
                    <!--<img src="iconfont/bus.svg" alt=""> 免费停车-->
               <!--</span>-->
                <!--<span>-->
                    <!--<img src="iconfont/wifi.svg" alt=""> wi-fi-->
               <!--</span>-->
            <!--</p>-->
        </footer>
    </section>
    <div class="background" v-show="alert" @touchend.self="alert = false">
        <section class="alert">
            <header class="v_header">
                小包
                <span>￥92</span>
            </header>
            <footer>
                <div>今天（10-12）11:30至18：00内，任选3小时</div>
                <span>请选择开唱时间</span>
                <div>
                    <button class="" v-for="i in 5" @click="toDetail()">15:00</button>
                </div>
            </footer>
        </section>
    </div>

</div>
</body>
<!-- 引入组件库 -->
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<script src="js/swiper.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/fly.js"></script>
<script src="js/jq.js"></script>

<script>
    function removeSameItem(arr) {
        return Array.from(new Set(arr))
    }

    let app = new Vue({
        el: "#app",
        data: {
            show3:false,
            selected:-1,
            status: '',
            store_id: '',
            alert: false,
            detail: {},
            longitude_latitude: '',
            page: 1,
            allLoaded: true,
            loading: false,//判断是否加载数据
            loading_more: true,//控制是否发送ajax请求
        },
        computed: {
            timeSel() {
                if (this.detail.shop_goods_time) {
                    let arr = []
                    arr = this.detail.shop_goods_time.map(item => item.rule)
                    arr = removeSameItem(arr)
                    return arr
                }
            }
        },
        mounted() {
            var mySwiper = new Swiper('.swiper-container', {
                width: innerWidth,
                slidesPerView: 6,
                freeMode: true,
                observer: true,//修改swiper自己或子元素时，自动初始化swiper
                observeParents: true,//修改swiper的父元素时，自动初始化swiper
            })

            let store_id = this.GetQueryString('id')
            this.store_id = store_id
            let longitude_latitude = this.GetQueryString('longitude_latitude')
            this.longitude_latitude = longitude_latitude
            let status = this.GetQueryString('status')
            this.status = status
            setTimeout(() => {
                this.getStoreList(this.store_id, this.longitude_latitude, this.status)
            })
            //路由拦截。。。
            if (longitude_latitude === null) {
                location.assign('./index.html')
            }
        },
        methods: {
            toMap() {
                location.href = `./map.html?longitude_latitude=${this.detail.longitude_latitude}&title=${encodeURIComponent(this.detail.address)}&content=${encodeURIComponent(this.detail.shop_name)}`
            },
            toDetail() {
                location.href = './room_booking.html'
            },
            back() {
                history.go(-1)
            },
            showDetail(i){
                this.show3 = i
            },
            async filterTime(v,i) {
                this.selected = i
                await this.getStoreList(this.store_id, this.longitude_latitude, this.status)
                if (this.detail.shop_goods) {
                    this.detail.shop_goods = this.detail.shop_goods.filter(item => item.rule === v)
                }

            },
            GetQueryString(name) {
                let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            async getStoreList(store_id, longitude_latitude, status) {
                let result = await allShopGoodList(store_id, longitude_latitude, status)
                if (result.code === 0) {
                    alert(result.message)
                }
                if (result.code === 1) {
                    console.log(result.data)
                    this.detail = result.data
                }
            },
        }
    })


</script>

</html>
