<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>首页</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=RAKoveCQGYcBaEKFDYuk75OSqoWo1QXd"></script>
    <!--<script type="text/javascript"-->
    <!--src="https://webapi.amap.com/maps?v=1.4.7&key=2e1bab005d970022580466031df7793a"></script>-->
</head>
<body>
<div id="app">
    <div id="allmap"></div>
    <div class="index_head">
        <p v-if="address!=''">{{address}}</p>
        <i v-else class="iconfont icon-dingwei position_icon"></i>
        <el-input
                placeholder="输入商家名字、品类"
                prefix-icon="el-icon-search">
        </el-input>
        <el-button type="text" @click="open3">
            <i class="iconfont icon-add"></i>
        </el-button>
    </div>

    <div class="index_list">
        <div class="swiper-container" id="shopCatelist">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="i in cate">
                    <div class="index_list_div" v-for="item in i" :key="item.id" @click="goTo(item.id,longitude_latitude)">
                        <img :src="`http://192.168.1.21/${item.images}`" alt="">
                        <p>{{item.catename}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="day_recom">
        <div class="day_recom_top">
            <p>今日推荐</p>
            <p>
                <span>更多推荐</span>
                <i class="iconfont icon-iconfontjiantou5 fontSm"></i>
            </p>
        </div>
        <div class="day_recom_bottom">
            <div class="swiper-container">
                <div class="swiper-wrapper day_recom_swiper">
                    <div class="swiper-slide" v-for="item in 4">
                        <img class="slide_img" src="http://pic.58pic.com/58pic/13/10/96/35T58PICBYS_1024.jpg" alt="">
                        <div class="slide_div">
                            <p>星空纯K量贩KTV</p>
                            <p>【两周年店庆特惠】白天卫栖梧问wqewq</p>
                            <p>
                                <span class="dollar colorRed">￥</span>
                                <span class="colorRed">38</span>
                                <span class="through_span">￥188</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="index_mid">
        <div>
            <a href="#">
                <div class="mask">今日钜惠</div>
            </a>
        </div>
        <div>
            <a href="#">
                <div class="mask">狠优惠</div>
            </a>
        </div>
        <div>
            <a href="#">
                <div class="mask">优惠商家</div>
            </a>
        </div>
    </div>

    <h3 class="index_bottom_title">附近商家</h3>

    <div class="index_bottom">
        <div class="index_foot">
            <p>离我最近</p>
            <p>折扣最高</p>
            <p>最新发布</p>
        </div>

        <div class="index_foot_list" v-for="item in 3">
            <img src="http://img3.redocn.com/tupian/20140911/qiaopimeinv_3058833.jpg" alt="">
            <div>
                <p class="list_name">养生SPA会所（诸暨店）</p>
                <p class="list_content">[高教文区]1个预定项目+3个优惠套餐···</p>
                <p class="list_price">¥168起</p>
            </div>
            <div class="align_self">
                <p class="fontSm">300km</p>
                <p class="list_price">已售2018</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/swiper.min.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/fly.js"></script>
<!--<script src="js/jq.js"></script>-->
<script>
    new Vue({
        el: "#app",
        data: {
            shopCateListData: [],
            address: '',
            longitude_latitude: ''
        },
        computed: {
            cate() {
                let arr = []
                let arr2 = []
                this.shopCateListData.forEach(c => {
                    if (arr2.length === 8) {
                        arr2 = []
                    }
                    if (arr2.length === 0) {
                        arr.push(arr2)
                    }
                    arr2.push(c)
                })
                return arr
            }
        },
        methods: {
            async getBanner() {
                let result
                result = await bannerList
                console.log(result)
            },
            async getShopCateList() {
                let result
                result = await shopCatelist
                this.shopCateListData = result.data
                console.log(result)
            },
            goTo(id,longitude_latitude) {
                location.assign(`./business.html?id=${id}&longitude_latitude=${longitude_latitude}`)
            },
            open3() {
                this.$prompt('请输入', '发布', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    // inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
                    // inputErrorMessage: '邮箱格式不正确'
                }).then(({value}) => {
                    // this.$message({
                    //     type: 'success',
                    //     message: '你的邮箱是: ' + value
                    // });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消输入'
                    });
                });
            }
        },
        created() {
            // var map = new AMap.Map('container', {
            //     resizeEnable: true
            // })
            var that = this;
            // map.plugin('AMap.Geolocation', function () {
            //     var geolocation = new AMap.Geolocation({
            //         enableHighAccuracy: true,//是否使用高精度定位，默认:true
            //         timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            //         maximumAge: 0,           //定位结果缓存0毫秒，默认：0
            //         convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
            //         showButton: true,        //显示定位按钮，默认：true
            //         buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
            //         buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            //         showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true
            //         showCircle: true,        //定位成功后用圆圈表示定位精度范围，默认：true
            //         panToLocation: true,     //定位成功后将定位到的位置作为地图中心点，默认：true
            //         zoomToAccuracy: true      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            //     })
            //
            //     geolocation.getCurrentPosition()
            //     AMap.event.addListener(geolocation, 'complete', onComplete)
            //     AMap.event.addListener(geolocation, 'error', onError)
            //
            //     function onComplete(data) {
            //         // data是具体的定位信息
            //
            //         console.log(data)
            //         that.longitude_latitude = data.position
            //         that.address = data.addressComponent.district;
            //     }
            //
            //     function onError(data) {
            //         // 定位出错
            //     }
            // })
            var map = new BMap.Map("allmap");
            var point = new BMap.Point(116.331398,39.897445);
            map.centerAndZoom(point,12);

            var geolocation = new BMap.Geolocation();
            geolocation.getCurrentPosition(function(r){
                console.log(r)
                if(this.getStatus() == BMAP_STATUS_SUCCESS){
                    var mk = new BMap.Marker(r.point);
                    map.addOverlay(mk);
                    map.panTo(r.point);
                    that.address = r.address.city
                    // alert('您的位置：'+r.point.lng+','+r.point.lat);
                    that.longitude_latitude = r.point.lng+','+ r.point.lat
                    console.log(that.longitude_latitude)
                    // alert('您的位置：'+r.point.lng+','+r.point.lat);
                }
                else {
                    alert('failed'+this.getStatus());
                }
            },{enableHighAccuracy: true})
        },

        mounted() {
            this.getBanner();
            this.getShopCateList()
            let shopCatelist = new Swiper('#shopCatelist', {
                width: innerWidth,
                // autoplay: true,//可选选项，自动滑
                // slidesPerView: 'auto',
                observer: true,//修改swiper自己或子元素时，自动初始化swiper
                observeParents: true,//修改swiper的父元素时，自动初始化swiper
            })
            let mySwiper = new Swiper('.swiper-container', {
                // autoplay: true,//可选选项，自动滑
                slidesPerView: 'auto',
            })
        },
    })
</script>
</html>
