<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>搜索</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app" v-clock>
        <div class="index_head">
            <el-input class="elIn"
                    placeholder="输入商家名字、品类"
                    prefix-icon="el-icon-search">
            </el-input>
            <span>取消</span>
        </div>

        <div class="search_div">
            <p>热门搜索</p>
            <div>
                <p v-for="item in hotSearchList">{{item.hot_words}}</p>
            </div>
        </div>

        <div class="search_div">
            <p>历史搜索</p>
            <div>
                <p v-for="item in 1">KTV会所</p>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/fly.js"></script>
<script src="js/jq.js"></script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            hotSearchList:[],
            shopList: [],
            page: 1,
            longitude_latitude: '',
            allLoaded: true,
            loading: false,//判断是否加载数据
            loading_more: true,//控制是否发送ajax请求
        },
        methods: {
            back() {
                history.go(-1)
            },
            goTo(url, id, longitude_latitude, status) {
                location.assign(`${url}?id=${id}&longitude_latitude=${longitude_latitude}&status=${status}`)
            },
            GetQueryString(name) {
                let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            async getHotSearchList() {
                let result = await hotSearchList()
                if (result.code === 0) {
                    alert(result.message)
                }
                if (result.code === 1) {
                    console.log(result.data)
                    this.hotSearchList = result.data
                }
            },
            async loadingMore() {
                if (this.allLoaded === false) {
                    return
                }
                if ($(window).scrollTop() + $(window).height() + 100 >= $(document).height()) {
                    // alert(1)
                    this.allLoaded = false
                    this.loading = true;
                    this.page++;
                    let result
                    if (this.loading_more) {
                        this.loading_more = false //禁止浏览器发送ajax请求
                        result = await informationDiscountList(this.longitude_latitude, this.page)
                        if (result.code === 1) {//判断接受是否成功
                            this.loading = false
                            if (this.shopList.length === result.data.total) {
                                return
                            } else {

                                this.loading_more = true
                                this.shopList = [...this.shopList, ...result.data];
                            }
                        } else {
                            setTimeout(() => {
                                this.loading = false
                                this.loading_more = true
                            }, 1000)
                        }
                    } else {
                        this.loading = false
                    }
                }
            },
        },
        mounted() {
            setTimeout(() => {
                this.getHotSearchList()
            })
            //路由拦截。。。
        },
    })
</script>
</html>
