<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>搜索</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app" v-clock @keyup.enter="goToSearch(search_key)">
    <form action="#" onsubmit="return false;" class="index_head" style="padding: 0 .1rem">
        <p class="iconfont icon-fanhui" @click="`${window.history.go(-1)}`"></p>
        <el-input
                style="width: 2.5rem;margin-left: .14rem"
                type="text" type="search"
                placeholder="输入套餐名称"
                prefix-icon="el-icon-search"
                autofocus="true"
                v-model="search_key"
        >
        </el-input>
        <span @click="goToSearch(search_key)" class="button">搜索</span>
    </form>

    <div style="height: .01rem; background: #fff0d4"></div>

    <div class="search_div">
        <p>热门搜索</p>
        <div>
            <p v-for="(item,i) in hotSearchList" :style="[{background:'hsl('+color[i]+',62%,74%)'},{color:'#ffffff'}]" @click="goToSearch(item.hot_words)">{{item.hot_words}}</p>
        </div>
    </div>
    <div style="height: .08rem; background: #ededed;margin-top: .2rem" v-if="historysearchList"></div>
    <div class="" style="padding: .2rem .12rem 0;" v-if="historysearchList">
        <p style="font-size: .14rem;font-weight: bold;">历史搜索<i style="float: right;" class="el-icon-delete"
                                                               @click="deleteHistoryList()"></i></p>
        <div>
            <div style="padding: .14rem 0;border-bottom: .01rem solid #e6e6e6;font-size: .12rem;color: #666666;"
                 v-for="item in historysearchList" @click="goToSearch(item.search_name)">{{item.search_name}}
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-rc.4/polyfill.js"></script>
<script src="./js/vconsole.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js "></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/swiper.min.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/jq.js"></script>
<script src="js/fly.js"></script>
<script src="js/search/search-compile.js"></script>
</html>
