<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>搜索结果</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/swiper.min.css">
</head>
<body>
<div id="app" v-clock @touchmove="loadingMore()" @wheel="loadingMore()" v-clock>
    <h3 class="index_bottom_title">搜索结果</h3>
    <div class="index_bottom">
        <!--<div class="index_foot">-->
            <!--<p @click="getAllSort(1,longitude_latitude,1)" :class="{'active':index_foot[0] === 1}">-->
                <!--离我最近</p>-->
            <!--<p @click="getAllSort(2,longitude_latitude,1)" :class="{'active':index_foot[1] === 1}">-->
                <!--折扣最高</p>-->
            <!--<p @click="getAllSort(3,longitude_latitude,1)" :class="{'active':index_foot[2] === 1}">-->
                <!--最新发布</p>-->
        <!--</div>-->
        <div class="index_foot_list" v-for="item in allSortList" :key="item.id"
             @click="goTo('./detail.html',item.id,longitude_latitude,1)">
            <img :src="`${baseImgUrl}${item.store_images}`" alt="">
            <div>
                <p class="list_name">{{item.shop_name}}</p>
                <p class="list_content">[{{item.address}}]</p>
                <p class="list_price">{{item.discount}}折起</p>
            </div>
            <div class="align_self">
                <p class="fontSm">{{item.distance}}km</p>
                <p>已售{{item.sold_num}}</p>
            </div>
        </div>
        <div v-if="!allSortList" style="text-align: center">没有相关项目请重新搜索</div>
        <!--<div style="width: 100%;text-align: center">-->
            <!--<span v-if="allLoaded">上拉加载更多</span>-->
            <!--<span v-else>没有更多了</span>-->
        <!--</div>-->
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-rc.4/polyfill.js"></script>
<script src="./js/vconsole.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js "></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/swiper.min.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/jq.js"></script>
<script src="js/fly.js"></script>
<script src="js/searchResult/searchResult-compile.js"></script>
</html>
