<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>搜索</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app" v-clock  @keyup.enter="goToSearch(search_key)">
    <form action="#" onsubmit="return false;" class="index_head">
        <el-input
                style="width: 3.03rem;"
                type="text"  type="search"
                placeholder="输入套餐名称"
                prefix-icon="el-icon-search"
                autofocus="true"
                v-model="search_key"
        >
        </el-input>
        <span @click="`${window.history.go(-1)}`">取消</span>
    </form>

    <div style="height: .01rem; background: #c3c3c3"></div>

    <div class="search_div">
        <p>热门搜索</p>
        <div>
            <p v-for="item in hotSearchList">{{item.hot_words}}</p>
        </div>
    </div>
    <div style="height: .08rem; background: #ededed;margin-top: .2rem"></div>
    <div class="" style="padding: .2rem .12rem 0;">
        <p style="font-size: .14rem;font-weight: bold;">历史搜索<i style="float: right;" class="el-icon-delete"></i></p>
        <div>
            <div style="padding: .14rem 0;border-bottom: .01rem solid #e6e6e6;font-size: .12rem;color: #666666;" v-for="item in historysearchList">{{item.search_name}}</div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/fly.js"></script>
<script src="js/jq.js"></script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            historysearchList:'',
            search_key: '',
            hotSearchList: [],
            shopList: [],
            page: 1,
            longitude_latitude: '',
            allLoaded: true,
            loading: false,//判断是否加载数据
            loading_more: true,//控制是否发送ajax请求
        },
        methods: {
            back() {
                history.go(-1)
            },
            goTo(url, id, longitude_latitude, status) {
                location.assign(`${url}?id=${id}&longitude_latitude=${longitude_latitude}&status=${status}`)
            },
            goToSearch(search_key){
                location.assign(`./searchResult.html?search_key=${search_key}`)
            },
            GetQueryString(name) {
                let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },

            async getHotSearchList() {
                let result = await hotSearchList()
                if (result.code === 0) {
                    alert(result.message)
                }
                if (result.code === 1) {
                    console.log(result.data)
                    this.hotSearchList = result.data
                }
            },
            async getHistorySearchList() {
                let uid = localStorage.uid
                let result = await historySearchList(uid)
                if (result.code === 0) {
                    alert(result.message)
                }
                if (result.code === 1) {
                    console.log(result.data)
                    this.historysearchList = result.data
                }
            },

        },
        mounted() {
            setTimeout(() => {
                this.getHotSearchList()
                this.getHistorySearchList()
            })
            //路由拦截。。。
        },
    })
</script>
</html>
