<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app" v-clock @touchmove="loadingMore()" @wheel="loadingMore()">
    <div class="pay_top">
        <p class="iconfont icon-fanhui comeback" @click="back()"></p>
        <p>{{shopCateListData}}</p>
    </div>

    <div class="today_ul" v-for="item in shopList" :key="item.id" @click="goTo('./detail.html',item.id,longitude_latitude,1)">
        <img :src="`${baseImgUrl}${item.store_images}`" alt="">
        <div>
            <div class="bus_top">
                <p class="recomP">
                    <span>{{item.shop_name}}</span>
                    <span class="fontSm">{{item.distance}}km</span>
                </p>
            </div>
            <p class="nowrap fontTen colorWrap">[{{item.address}}]{{item.meal_name}}</p>
            <div class="bus_down">
                <p class="colorRed">{{item.discount}}折起</p>
                <p class="setNum">已售{{item.sold_num}}</p>
            </div>
        </div>
    </div>
    <div style="width: 100%;text-align: center">
        <span v-if="allLoaded" @click="loadingMore()">上拉加载更多</span>
        <span v-else>没有更多了</span>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/fly.js"></script>
<script src="js/jq.js"></script>

<script>
    let app = new Vue({
        el: "#app",
        data: {
            baseImgUrl:ImgBaseUrl,
            id:0,
            shopCateListData:[],
            shopList: [],
            longitude_latitude: '',
            page: 1,
            allLoaded: true,
            loading: false,//判断是否加载数据
            loading_more: true,//控制是否发送ajax请求
        },
        mounted() {
            //路由拦截。。。
            if (!localStorage.longitude_latitude) {
                location.assign('./index.html')
            }

            let longitude_latitude = this.GetQueryString('longitude_latitude')
            this.longitude_latitude = longitude_latitude
            let id = this.GetQueryString('id')
            this.id = id
            setTimeout(() => {
                this.getStoreList(this.id,this.longitude_latitude, this.page)
                this.getShopCateList()
            })
        },
        methods: {
            async getShopCateList() {
                let result = await shopCatelist()
                result = result.data.filter(item => item.id === this.id - 0)
                this.shopCateListData = result[0].catename
                document.title = this.shopCateListData
            },
            back() {
                history.go(-1)
            },
            goTo(url, id, longitude_latitude, status) {
                location.assign(`${url}?id=${id}&longitude_latitude=${longitude_latitude}&status=${status}`)
            },
            GetQueryString(name) {
                let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            async getStoreList(id,longitude_latitude, page) {
                let result = await storeList(id,longitude_latitude, page)
                if (result.code === 0) {
                    console.log(result.message)
                }
                if (result.code === 1) {
                    console.log(result.data)
                    this.shopList = result.data.data
                    if (this.shopList.length === result.data.total + 1) {
                        this.allLoaded = false
                    }
                }
            },
            async loadingMore() {
                if (this.allLoaded === false) {
                    return
                }
                if ($(window).scrollTop() + $(window).height() + 10 >= $(document).height()) {
                    this.allLoaded = false
                    this.loading = true;
                    this.page++;
                    let result
                    if (this.loading_more) {
                        this.loading_more = false //禁止浏览器发送ajax请求
                        result = await storeList(this.id,this.longitude_latitude, this.page)
                        if (result.code === 1) {//判断接受是否成功
                            this.loading = false
                            // console.log(this.allSortList.length, result.data.total)
                            if (this.shopList.length === result.data.total + 1) {
                                console.log('没有更多数据')
                                return
                            } else {
                                this.loading_more = true
                                this.shopList = [...this.shopList, ...res.data.data];
                            }
                        } else {
                            setTimeout(() => {
                                this.loading = false
                                this.loading_more = true
                            }, 1000)
                        }
                    } else {
                        this.loading = false
                    }
                }
            },
        }
    })
</script>
</html>
