<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>今日钜惠</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app" v-clock @touchmove="loadingMore()" @wheel="loadingMore()" v-clock>
    <div class="pay_top">
        <p class="iconfont icon-fanhui comeback" @click="back()"></p>
        <p>今日钜惠</p>
    </div>

    <div class="today_ul" v-for="item in shopList" :key="item.store_id" v-if="shopList.length !== item+1" @click="goTo('./detail.html',item.store_id,longitude_latitude,1)">
        <img :src="`${baseImgUrl}${item.store_images}`" alt="">
        <div>
            <div class="bus_top">
                <p>{{item.shop_name}}</p>
            </div>
            <p class="nowrap fontTen colorWrap"><span v-show="item.meal_name">[{{item.meal_name}}] </span> {{item.name}}
            </p>
            <div class="bus_down">
                <p class="colorRed">￥{{item.amount_money}}起</p>
                <p style="margin-left:.1rem;max-width: 1.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                    {{item.address}}</p>
                <p class="dollar" style="text-align:right;flex-grow: 1">{{item.distance}}km</p>
            </div>
        </div>
    </div>
    <div style="width: 100%;text-align: center">
        <span v-if="allLoaded" @click="loadingMore()">上拉加载更多</span>
        <span v-else>没有更多了</span>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-rc.4/polyfill.js"></script>
<script src="./js/vconsole.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js "></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/swiper.min.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/jq.js"></script>
<script src="js/fly.js"></script>
<script src="js/toDaySale/toDaySale-compile.js"></script>
</html>
