<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>今日钜惠</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app" v-clock @touchmove="loadingMore()" @wheel="loadingMore()" v-clock>
    <div class="pay_top">
        <p class="iconfont icon-fanhui comeback" @click="back()"></p>
        <p>今日钜惠</p>
    </div>

    <div class="today_ul" v-for="item in shopList" :key="item.store_id" v-if="shopList.length !== item+1" @click="goTo('./detail.html',item.store_id,longitude_latitude,1)">
        <img :src="`http://192.168.1.21/${item.store_images}`" alt="">
        <div>
            <div class="bus_top">
                <p>{{item.shop_name}}</p>
            </div>
            <p class="nowrap fontTen colorWrap"><span v-show="item.meal_name">[{{item.meal_name}}] </span> {{item.name}}
            </p>
            <div class="bus_down">
                <p class="colorRed">￥{{item.amount_money}}起</p>
                <p style="margin-left:.1rem;max-width: 1.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                    {{item.address}}</p>
                <p class="dollar" style="text-align:right;flex-grow: 1">{{item.distance}}km</p>
            </div>
        </div>
    </div>
    <div style="width: 100%;text-align: center">
        <span v-if="allLoaded" @click="loadingMore()">上拉加载更多</span>
        <span v-else>没有更多了</span>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/font.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/flyio/dist/fly.min.js"></script>
<script src="js/fly.js"></script>
<script src="js/jq.js"></script>

<script>
    let app = new Vue({
        el: "#app",
        data: {
            shopList: [],
            longitude_latitude: '',
            page: 1,
            allLoaded: true,
            loading: false,//判断是否加载数据
            loading_more: true,//控制是否发送ajax请求
        },
        mounted() {
            let longitude_latitude = this.GetQueryString('longitude_latitude')
            this.longitude_latitude = longitude_latitude
            setTimeout(() => {
                this.getStoreList(longitude_latitude, this.page)
            })
            //路由拦截。。。
            if (longitude_latitude === null) {
                location.assign('./index.html')
            }
        },
        methods: {
            goTo(url, id, longitude_latitude, status) {
                location.assign(`${url}?id=${id}&longitude_latitude=${longitude_latitude}&status=${status}`)
            },
            back() {
                history.go(-1)
            },
            GetQueryString(name) {
                let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            },
            async getStoreList(longitude_latitude, page) {
                let result = await todayDiscountList(longitude_latitude, page)
                if (result.code === 0) {
                    alert(result.message)
                }
                if (result.code === 1) {
                    console.log(result.data)
                    let arr = []
                    for (let i in result.data) {
                        arr.push(result.data[i])
                    }
                    this.shopList = arr
                    console.log(arr);
                    if (this.shopList.length === result.data.total + 1) {
                        this.allLoaded = false
                    }
                }
            },
            async loadingMore() {
                if (this.allLoaded === false) {
                    return
                }
                if ($(window).scrollTop() + $(window).height() + 10 >= $(document).height()) {
                    this.allLoaded = false
                    this.loading = true;
                    this.page++;
                    let result
                    if (this.loading_more) {
                        this.loading_more = false //禁止浏览器发送ajax请求
                        result = await todayDiscountList(this.longitude_latitude, this.page)
                        if (result.code === 1) {//判断接受是否成功
                            this.loading = false
                            // console.log(this.allSortList.length, result.data.total)
                            if (this.shopList.length === result.data.total + 1) {
                                console.log('没有更多数据')
                                return
                            } else {
                                this.loading_more = true
                                let arr = []
                                for (let i in result.data) {
                                    arr.push(result.data[i])
                                }
                                this.shopList = arr
                                this.shopList = [...this.shopList, ...arr];
                            }
                        } else {
                            setTimeout(() => {
                                this.loading = false
                                this.loading_more = true
                            }, 1000)
                        }
                    } else {
                        this.loading = false
                    }
                }
            },
        }
    })
</script>
</html>
